* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    min-height: 100vh;
    background: #36393F;


}
.first-container {

    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: #36393F;

}

.second-container {
    flex: 6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 15px;
    color: ghostwhite;
    background: #2F3136;
}

.third-container {
    flex: 18;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #36393F;
}

.sidebar {
    background: #202225;
    color: gray;
    min-height: 100vh;
    flex: 1;
}

.top_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
}

.logo {
    font-size: 30px;
}
.top_section:hover {
    /*background: #3C8958;*/
    color: #3C8958;
}

.bars {
    font-size: 20px;
    display: flex;
    margin-left: 0px;
}


.link {
    display: flex;
    color: white;
    padding: 5px 15px;
    transition: all 0.5s;
}

.icon {
    color: #3F4756;
}

.icon:hover {
    color: #3C8958;
}

.sidebar-second {
    color: gray;
    height: 100vh;
    min-height: 100vh;
    flex: 3;
}

.navi-bar {
    display: flex;
    padding-bottom: 10px;
    height: 60px;
    background: #36393F;
}

.main-content {
    background: #36393F;
    color: ghostwhite;

}

/*@media screen and (max-width: 650px) {*/
/*    .main-container {*/
/*        flex-direction: column;*/
/*    }*/
/*}*/











