* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #36393F;
}

.container {
    display: flex;
}

.main-content {
    background: #36393F;
    width:100vw;
    height: 89vh;
    display: flex;
    color: ghostwhite;

}

.navi-bar {
    display: inline-block;
    padding-bottom: 10px;
    width:100vw;
    height: 50px;


}

.sidebar {
    background: #202225;
    color: gray;
    height: 100vh;
    min-height: 100vh;

}
.sidebar-second {
    background: #2F3136;
    color: gray;
    height: 100vh;
    min-height: 100vh;
    width:250px;
    max-width:250px;
    display: inline-block;
}

.top_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
}


.logo {
    font-size: 30px;
}
/*.top_section:hover {*/
/*    !*background: #3C8958;*!*/
/*    color: #3C8958;*/
/*}*/

.bars {
    font-size: 20px;
    display: flex;
    margin-left: 0px;
}


.link {
    display: flex;
    color: white;
    padding: 5px 15px;
    transition: all 0.5s;
}

.link:hover {
    /*background: #3C8958;*/
    color: #3C8958;
}






